body {
    background-color: #bdbcbc; 
    font-family: Arial, sans-serif;
    color: #000000;
}


.div1 {
    background-color: #5454d7; 
    margin: 10px;
    width: 30%;
    padding: 15px; 
}


.div2 {
    background-color: #097109; 
    margin: 10px auto; 
    padding: 15px;
    width: 30%; 
    text-align: center; 
}


.div3 {
    background-color: #e6d264; 
    margin: 10px;
    padding: 15px;
    float: right; 
    width: 30%; 
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

